{% extends "citizens/layout.html" %}

{% block body %}
<div
    style="position: relative; background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.62))), url(https://i.ibb.co/Pwx24qQ/loginpage.png); background-size: cover; background-position: top;"
    class="h-100 d-flex justify-content-center"
    >

    <div class="card align-middle" style="width: fit-content; position: absolute; top: 50%; transform: translateY(-50%);">
      <div class="card-body">
          <h2 class="card-title">Hệ thống Quản lý Dữ liệu Công dân</h2>
          <h6 class="card-subtitle mb-2 text-muted">Tài khoản đang truy cập: {{request.user.username}}</h6>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Số TT</th>
                <th scope="col">Họ và tên công dân</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Số Hộ chiếu</th>
                <th scope="col">Chi tiết</th>
              </tr>
            </thead>
            <tbody>
              {% for citizen in citizens %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ citizen.name }}</td>
                <td>{{ citizen.sex }}</td>
                <td>{{ citizen.sID }}</td>
                <td><a href="{% url 'citizens:citizen' citizen.code %}" class="btn btn-outline-primary btn-sm" role="button">Chi tiết</a></td>
              </tr>
              {% endfor %}
            </tbody>
            
        </table>
          
      </div>
  </div>
    
</div>    

{% endblock %}
